<!doctype html>

<html lang="en" ng-app="example">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="wavesurfer directive example" />
        <meta name="author" content="Sergey Nabiulin" />
        
        <title>Wavesurfer Directive Example</title>
        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="../dist/css/wavesurfer.angular.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- js files -->
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="../bower_components/wavesurfer.js/dist/wavesurfer.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular-ui-slider/src/slider.js"></script>
        <script type="text/javascript" src="../dist/js/wavesurfer-angular.js"></script>
        
        <script type="text/javascript" src="./app.js"></script>
        <style>
            body {
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
            }
            .waveform-wrapper {
                margin-top: 20px;
                padding: 15px;
            }
            .page-wrapper {
                margin-top: 100px;
            }
            .multi-form {
                border: 1px solid #cacaca;
                border-radius: 5px;
            }
            .multi-form .title {
                margin: 10px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div ng-controller="wavesurferCtrl" class="page-wrapper">
            <div class="waveform-wrapper">
                <div>{{file.name}} - auto load audio record [<i><b>auto-load="true"</b></i>]</div>
                <wavesurfer url="file.url" auto-load="true"></wavesurfer>
            </div>
            <div class="waveform-wrapper">
                <span>{{file.name}} - custom template [<i><b>template="..."</b></i>]</span>
                <wavesurfer url="file.url" template="custom-template.tpl.html"></wavesurfer>
            </div>
            <div class="multi-form">
                <div class="title">Multi form</div>
                <div class="waveform-wrapper" ng-repeat="file in multiForm">
                    <span>{{file.name}}</span>
                    <wavesurfer url="file.url" options="options"></wavesurfer>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="custom-template.tpl.html">
            <div class="waveform" id="{{::uniqueId}}" style="border: 1px solid #f00;">
                <div class="waveform-control">
                    <span ng-click="load()">
                        <i class="fa"
                           ng-class="{'fa-spinner fa-spin': isLoading, 'fa-play' : !isPlaying, 'fa-pause': isPlaying}"></i>
                    </span>
                </div>
                <div class="waveform-volume">
                    <i class="fa fa-volume-up" ng-click="isVolumeActive = !isVolumeActive"></i>
                    <div class="volume-control" ng-class="{active: isVolumeActive}">
                        <div ui-slider="{orientation: 'vertical', range: 'min'}" class="slider"
                             min="0"
                             max="100"
                             step="1"
                             ng-model="volume">
                        </div>
                    </div>
                </div>
                <div class="waveform-wavesurfer">
                    <div class="time-total">{{progress | hms}}</div>
                    <div class="time-left">-{{remaining | hms}}</div>
                    <div class="audio">
                        <div class="default-wave" ng-show="!isWavesurferLoaded()"
                             ng-style="{'margin-top': defaultWavePosition}"></div>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>
